# IDE
.idea/
*.iml
*.iws
*.ipr
out/
.vscode/

# Snapshots / временные файлы
.snapshots/
.fastRequest/
.zencoder/

# Логи
*.log

# Папки с компилированными классами
bin/
target/

# Файлы настроек пользователя
.classpath
.project
.settings/

# Сборка проекта
*.war
*.ear
*.jar
!gradle-wrapper.jar

# Системные файлы
.DS_Store
Thumbs.db

.gradle/
build/